<br/>
<div class="jumbotron">
<h1>Welcome to my new App</h1>
<p>I'mma paint the city red with this one !</p>
<%= link_to 'About Us', home_about_path, class:'btn btn-default'%>
<%= link_to 'Home', home_index_path , class:'btn btn-primary'%>
</div>
